* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Calistoga', serif;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Martian Mono', monospace;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;



}

.over {
    overflow-x: hidden;
}



nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background-color: white;
    background-color: rgb(51, 45, 51);
    align-items: center;

}

.logo {
    color: white;
    height: 50px;
    width: 100px;

}

.nav_bar {
    display: flex;
    list-style: none;
    margin-top: 10px;
}

.nav_bar a {
    text-decoration: none;
    margin: 0 15px;
    color: rgb(169, 179, 191);
    font-weight: bold;
}

.quantitys {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: red;
    position: relative;
    right: 50px;
    font-size: 9px;
    text-align: center;
    color: white;
    font-weight: bolder;

}

.container {

    width: 70vw;
    margin: auto;
    margin-top: 30px;
    background-color: rgb(235, 239, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
}

.Headr_Image {
    background-image: url("../assest/cart\ background.jpg");
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 50px;
    font-weight: bolder;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hamburger {
    display: none
}

.heading {
    width: 100%;
    text-align: center;
    margin: 40px 0px;


}

.heading h1 {
    color: rgb(76, 76, 75);
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-weight: bolder;

}

.Head_tr th {

    width: 11vw;
}

.Head_tr td {

    text-align: center;
    background-color: rgb(215, 212, 212);
    font-size: 12px;
    height: 40px;

}

.image {
    height: 30px;
    width: 20px;
}

.quantt {
    height: 30px;
    width: 50px;
    text-align: center;
}


.footer {
    margin-top: 100px;
    background-color: rgb(57, 53, 53);
    display: flex;
    padding: 40px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo_footer {
    margin-right: 30px;
}

.foot_container {
    margin-top: 110px;
    width: 25%;
}

.foot_container ul li {
    color: white;
    font-weight: bolder;
}

.foot_container ul {
    list-style: none;
}

.foot_container ul a {
    text-decoration: none;
    color: white;
    font-weight: 100;
    line-height: 33px;
}

.info_section {
    display: flex;
    justify-content: space-around;

}

.copyRight {
    text-align: center;
    margin: 15px 0;
}

@media only screen and (max-width : 768px) {

    .Head_tr th {
        font-size: 12px;
    }

    .hamburger {
        display: block
    }

   

    .quantitys {
        right: 16px;
        bottom: 39px;

    }

    .nav_bar.active {

        height: 280px;
        opacity: 1;
        transition: 0.5s;

    }
    

    .nav_bar {
        position: absolute;
        top: 40px;
        left: 0px;
        right: 0px;
        width: 100vw;
        background-color: rgb(51, 45, 51);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: 0.2s;


    }
    .nav_bar a {

        padding: 10px 20px;
    }

    .nav_bar a :hover {
        padding: 5px 10px;
        border-radius: 20px;
        background-color: white;
        color: black;
        transition: 0.2s;
    }

    
}

@media only screen and (max-width : 700px) {

    .Head_tr th {
        font-size: 12px;
    }

    .foot_container ul a {

        font-size: 12px;
    }
}


@media only screen and (max-width : 512px) {

    .container {

        width: 90vw;
    }

    .Headr_Image {
        font-size: 30px;
    }

    .Head_tr th {

        width: 20vw;
        font-size: 12px;
    }

    .Head_tr td {

        text-align: center;
        background-color: rgb(215, 212, 212);
        font-size: 12px;
        height: 40px;

    }

}